* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
  }
/*style header section start*/
section{
  padding-top: 100px;
}

header {
    background-image: url(images/banner/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
  }
  section .fail-year{
    padding-top: 80px;
  }
  .banner-content {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 450px;
    text-align: right;
  }
  .banner-content h2 {
  font-weight: 800;
  font-size: 50px;
  color:#070000;
  padding-bottom:20px;
  }
  
  .banner-content p {
    color: #070000;
    padding-bottom: 32px;
    line-height: 20px;
  
    
  }
  /*btn style */
  .btn-primary{
    background-color: #F15B22;
    color: #ffffff;
    padding: 10px 15px;
  
    font-weight: 500;
  
    font-size: 15px;
  
    border: none;
  
    border-radius: 5px;
  }
  /*style header section end*/

  /*fail year section style start*/
  .fail-year {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .person-img {
    margin-left:150px;
  }
  
  .person-content {
    width: 420px;
    margin-left:100px;
    margin-top: 120px;
  }
  .person-content h3 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    width: 300px;
    padding-bottom: 20px;
    color: #151414;
  }
  .person-content p {
    padding-bottom: 16px;
    color: #444343;
    line-height: 26px;
    
  }
  .person-content ul {
    list-style: none;
  }
  .person-content ul li {
    line-height: 30px;
  }
  .person-content ul li i {
    color: #16d887;
  }
  /*fail year section style end*/
  .my-plan {
    font-weight: 800;
  
    font-size: 40px;
  
    color: #151414;
  
    text-align: center;
  }
  .my-plan-title {
    margin-top: 50px;
  
    display: flex;
  
    justify-content: space-evenly;
  }
  .box {
    text-align: center;
  }
  
  .box h2 {
    padding: 18px 0;
  }
  .box p {
    font-weight: 400;
    font-size: 20px;
    color: #737272;
  }
  /*watch section style*/
  .watch {
    background-image: url(images/watch.png),
   linear-gradient(to right, #F15B22, rgb(221, 211, 207));
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 10px;
    background-size: cover;
    min-height: 40vh;
    position: relative;
    width: 75%;
    
  }
  .watch-content {
    position: absolute;
    top: 35px;
    left: 50px;
  }
  .watch-content h3 {
    font-weight: 700;
  
    font-size: 40px;
  
    color: #ffff;
  
    width: 449px;
  
    padding-bottom: 24px;
  }
  .btn-watch{
    background-color:#ffffff;
    color: #F15B22;
    padding: 10px 15px;
    padding-top: 10px;
    font-weight: 600;
  
    font-size: 15px;
  
    border: none;
  
    border-radius: 5px;
  }
  
  /*footer section style*/
  footer {
    background: #151414;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 35vh;
    padding: 100px 0;
    margin-top: 140px;
  }
  .left-footer-content {
    width:466px;
  }
  .left-footer-content h2 {
    font-weight: 500;
    padding-bottom: 16px;
    font-size: 40px;
  
    
  }
  .left-footer-content p {
    line-height: 20px;
  
    padding-bottom: 20px;
  }
  .left-footer-content ul {
    list-style: none;
  }
  .left-footer-content ul li {
    padding-bottom: 20px;
  }
  .social-icon {
    padding-top: 10px;
  }
  .social-icon i {
    font-size: 30px;
  color: #ffffff;
    margin-left:8px;
  }
  .right-footer-content{
  width:250px;
  margin-top: -80px;
  }
  .right-footer-content h5 {
    font-weight: 600;
  
    font-size: 25px;
  
    padding-bottom: 31px;
  }
  .right-footer-content input {
    padding: 21px 130px 21px 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #ffff;
    margin-bottom: 20px;
   
  }
  .right-footer-content input::placeholder {
    color: #ffff;
    text-align: left;
    
  }
  
 